/* Inherit base category page styles from Production.css */

/* Wedding-specific styles */
.wedding-header {
    background-color: rgba(30, 30, 30, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dbpam5zuf/image/upload/t_Grayscale/v1741593133/wedding-header_at6avy.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  } 
